.comments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    text-align: center;
    color: #4f544f;
    transform: translate(-300px, 0px);
    column-gap: 15px;
}